.social {
  display: block;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  color: mediumslateblue;
  text-decoration: none;
}

.text-responsive {
  font-size: 20px;
  /*align-items: center;*/
}

